@inherits LayoutComponentBase

<AuthorizeView>
  <Authorized>
    <div class="app-header">
      <a class="app-brand" href="/">TripSplit</a>
      <AccountMenu/>
    </div>
  </Authorized>
</AuthorizeView>

@Body
